@use 'sass:map';
@use '@angular/material' as mat;

@mixin users-page-styles($theme) {
  .users-page-container {
    $config: mat.get-color-config($theme);
    $primary: map.get($config, 'primary');

    h1 {
      text-align: center;
      color: mat.get-color-from-palette($primary);
      font-weight: bold;
      padding: 15px 0;
    }

    .user-search {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      width: 100%;
      padding: 0 0 20px;

      form {
        width: 100%;

        .form-container {
          display: flex;
          flex-direction: column;
          align-items: center;
          justify-content: center;

          mat-form-field {
            width: 80%;
          }
        }
      }
    }
  }
}
